<div class="card flex justify-content-center">
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <mat-icon>perm_contact_calendar</mat-icon>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.name" [subheader]="formatDates(event)" >
        <img *ngIf="event.image" [src]="event.image" alt="Missing image" class="shadow-2"/>
        <p-fieldset legend="Description" [toggleable]="true" [collapsed]="true">
          <p>
            {{event.description}}
          </p>
        </p-fieldset>
        <p-footer>
          {{event.category}}
        </p-footer>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
